{
    "env": {
        "browser": true
    },
    "plugins": [
        "react"
    ],
    "globals": {
    },
    "extends": ["plugin:react/recommended"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "react/display-name": 0
    }
}
